body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.my-name{
    color: coral;
}
.half-width{
    width: 37%;
    float:left;
    margin:5%;
    padding-left:2%;
}
.half-width img{
    width:450px
}
.top-banner{
    height:60px;
    background-image: url("top-banner.png");
    background-repeat: no-repeat;  
}
.section{
    height: 400px;
    padding-bottom: 5000px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.dream-area{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}